{% extends "base.html" %}

{% block title %}
Bookstore || all-categories
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <h1 class="my-4 text-muted text-center"> All Categories </h1>
            <div class="d-flex justify-content-end">
                <a href="{% url 'post-category'%}" class="btn btn-warning">Add Category</a>
            </div>
            {% for msg in messages %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
                {% endif %}
            {% endfor %}
            

            <!-- table to show the content of book  -->
            
            <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td >{{category.category_name}}</td>
                        <td>
                            <a href="{% url 'update-category' category.id%}" class="btn btn-primary">Edit</a>&nbsp;&nbsp;
                            <a href="{% url 'delete-category' category.id%}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
   
    
</div>
{% endblock %}