{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Bookstore || Login-user
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-6 shadow-lg p-3 mt-4">
            <h1 class="text-center text-muted">Login Form</h1>
            {% for msg in messages %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{msg}}
                </div>
                {% endif %}
            {% endfor %}
            <form method="post">
                {% csrf_token %}
                {{ form | crispy}}
                <div class="d-grid gap-2 my-2">
                    <input type="submit" value="Login" class="btn btn-primary">
                    
                </div>
            </form>
            <p class="text-center mt-2">Don't have an account? <span><a href="{% url 'register' %}">Register</a></span></p>
        </div>
    </div>
</div>
{% endblock %}