{% extends "base.html" %}

{% block title %}About Us | ReWearist{% endblock %}

{% block main_content %}
<div class="container mt-5">
  <div class="mx-auto p-4 shadow-sm bg-white rounded" style="max-width: 850px;">
    <h2 class="mb-4 fw-bold">About ReWearist</h2>
    <p>
      ReWearist is on a mission to make fashion circular. We help users find new homes for old clothes, reducing waste and promoting sustainability. We also aim to make fashion easily accessible to all and cost friendly. You can always rent your favourite item if not buy and also keep your clothes on rent through us.
    </p>
    <p>
      Built with love in Nepal 🇳🇵, we aim to empower conscious shoppers and eco-resellers by offering a platform that's simple, stylish, and smart.
    </p>
    <p>Enjoy fashion and protect environment at once.</p>
    <p class="fw-medium">Happy Shopping!</p>
    <p class="mt-4">Sandhya Bhattarai<br><span class="text-muted">Rewearist</span></p>
  </div>
</div>
{% endblock %}
