{% extends 'client/layout.html'%}

{% block title %}
ReWearist || Home
{% endblock %}


{% block content %}

{% include 'client/includes/carousel.html' %}
<!-- latest book start -->
 <div class="container my-4">
    <h1 class="text-muted text-center">Latest Products</h1>

    <!--  clothes start  -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products%}
        <div class="col">
          <div class="card p-2">
            <img src="{{product.image.url }}" class="card-img-top" alt="{{ product.name }}" height="300px">
            <div class="card-body">
              <h3 class="card-title">{{product.name}}</h3>
              <h5>Price: RS {{product.price}}</h5>
            </div>
            <a href="{% url 'product-details' product.id %}" class="btn btn-warning">View Details</a>
          </div>
        </div>
        {% endfor %}
    <!-- clothes end  -->
 </div>
<!-- latest cloth end  -->
{% endblock %}