{% extends 'client/layout.html'%}

{% block title %}
ReWearist || Products
{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-muted text-center">All Products</h1>

    <!-- to show the messages -->
    {% for msg in messages %}
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
    {% endif %}
{% endfor %}

    <!-- bookstart  -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products%}
        <div class="col">
          <div class="card p-2">
            <img src="{{ product.image.url}}" class="card-img-top" alt=" {{ product.name }}" height="325 px">
            <div class="card-body">
              <h3 class="card-title">{{product.name}}</h3>
              <h5>Price: RS {{product.price}}</h5>
            </div>
            <a href="{% url 'product-details' product.id %}" class="btn btn-warning">View Details</a>
          </div>
        </div>
        {% endfor %}
    <!-- bookend  -->
 </div>
{% endblock %}